REQUIREMENTS (Software)
1.Windows OS
2.Github
3.Visual Studio Code
4.Windows Subsystem for Linux(WSL)
5.gcc Compiler

SWOT ANALYSIS
STRENGTH:As people have craze for bollywood it will cathch their attention.
WEAKNESS:It has limited movies.
OPPORTUNITY:As most of the games are based on quiz and missing letters so this is something new.
THREATS:Obstacles.

4W's & 1H
WHY:It will be my first own made game.
WHERE:Github,VSC.
WHAT:Making a bollywood game for entertainment.
WHEN:I started working on it.
HOW:By planning the needs.